@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.modalWrap {
  container: case-detail-container / inline-size;
  @include flex(row, stretch, flex-start, 15);

  @include respondTo('tablet') {
    display: block;
  }

  .leftColumn {
    @include flex(column, stretch, flex-start, 0);
    inline-size: 21rem;

    .title {
      font-size: $text-2xl;
      font-weight: $font-bold;
      color: color('text', 'white');
      margin-block-end: space(3);
      @include fadeSlideUp(0.6s, 0.1s);
    }

    .subtitle {
      font-size: $text-lg;
      color: color('semantic', 'error');
      margin-block-end: space(15);
      @include fadeSlideUp(0.6s, 0.2s);
    }

    .summary {
      font-size: $text-base;
      color: #ababab;
      line-height: $leading-extra-loose;
      letter-spacing: $tracking-tight;
      @include fadeSlideUp(0.6s, 0.3s);
    }

    @include respondTo('tablet') {
      inline-size: 100%;

      .subtitle {
        margin-block-end: space(9);
      }
    }
  }

  .rightColumn {
    flex: 1;
    @include flex(column, stretch, flex-start, 0);
    padding-block-start: space(2);

    @include respondTo('tablet') {
      padding-block-start: space(11);
      margin-block-start: space(11);
      border-block-start: 1px solid $bg-body;
    }

    .question {
      font-size: $text-base;
      font-weight: $font-semibold;
      color: color('text', 'accent');
      margin-block-end: space(12);
      @include fadeSlideUp(0.6s, 0.4s);
    }

    .options {
      @include flex(column, stretch, flex-start, 5);

      @include respondTo('tablet') {
        gap: space(3);
      }

      button {
        display: block;
        font-size: $text-base-sm;
        color: color('text', 'white');
        text-align: start;
        padding-block: space(4);
        padding-inline: space(8);
        opacity: 0;
        background-color: #1e1e1e;
        border: 1px solid #1e1e1e;
        border-radius: radius('base');
        cursor: pointer;
        transition: border-color $transition-fast;
        animation: fadeSlideUp 0.6s ease forwards;


        @media (hover: hover) {
          &:hover {
            border-color: #c5a46a;
          }
        }

        @include respondTo('tablet') {
          padding-block: space(4);
          padding-inline: space(5);
        }
      }

      button:nth-child(1) { animation-delay: 0.5s; }
      button:nth-child(2) { animation-delay: 0.6s; }
      button:nth-child(3) { animation-delay: 0.7s; }
      button:nth-child(4) { animation-delay: 0.8s; }
    }

    .answerWrap {
      background: url('/imgs/medal_grayscale.png') no-repeat 100% 0 / 3.75rem auto;

      @include respondTo('tablet') {
        background-size: 3rem;
      }

      &.correct {
        background-image: url('/imgs/medal.png');
      }

      .answerCorrect {
        @include flex(column, flex-start, flex-start, 0);
        color: #005eff;
        margin-block-end: space(12);

        @include respondTo('tablet') {
          margin-block-end: space(10);
        }

        .goMedal {
          display: inline-block;
          margin-block-start: space(3);
          transition: color $transition-fast;

          @include linkUnderline(#fce897a6, #fce897);
        }
      }

      .answerWrong {
        color: color('semantic', 'error');
        margin-block-end: space(18);

        @include respondTo('tablet') {
          margin-block-end: space(10);
        }
      }

      .description {
        font-size: $text-base-sm;
        color: color('text', 'basic');
        line-height: $leading-loose;
        letter-spacing: $tracking-tight;
        margin-block-start: space(6);
      }

      .link {
        display: inline-block;
        font-size: $text-base-sm;
        color: color('semantic', 'info');
        margin-block-start: space(6);

        @media (hover: hover) {
          &:hover {
            color: #80c4ff;
          }
        }
      }

      .backBtn {
        font-size: $text-base;
        cursor: pointer;
        background-color: transparent;

        @include linkUnderline(#e1e1e180, #e1e1e1);

        @media (hover: hover) {
          &:hover {
            color: #e1e1e1;

            &::before {
              background-color: #e1e1e1;
            }
          }
        }
      }
    }
  }
}