.aboutWrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 32px;

  > section {
    margin-bottom: 40px;
    padding: 24px;
    border: solid 1px #ddd;
  }

  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #ccc;
  }
}