@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.guideNotice {
  position: absolute;
  inset-block-end: calc(100% + #{space(4)});
  inset-inline: 0;
  inline-size: max-content;
  font-size: $text-base-sm;
  color: color('semantic', 'warning');
  text-align: center;
  padding: space(5) space(9);
  margin-inline: auto;
  background-color: #1a1a1a;
  border-radius: radius('base');
  box-shadow: 0 0 0.5rem rgba(255, 169, 77, 0.1);
  border: 1px solid color('semantic', 'warning');
  z-index: zIndex('notification');

  .brM {
    display: none;
  }

  @include respondTo('tablet') {
    padding: space(4) space(7);

    .brM {
      display: block;
    }
  }

}