@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.guideNotice {
  position: fixed;
  inset-block-start: space(32);
  inset-inline-end: space(12);
  font-size: $text-base-sm;
  color: color('semantic', 'warning');
  padding: space(5) space(9);
  background-color: #1a1a1a;
  border-radius: radius('base');
  box-shadow: 0 0 0.5rem rgba(255, 169, 77, 0.1);
  border: 1px solid color('semantic', 'warning');
  z-index: zIndex('notification');

  .brM {
    display: none;
  }

  @include respondTo('tablet') {
    text-align: right;

    .brM {
      display: block;
    }
  }

}