.badge {
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #2c2c2c;
  color: #ccc;
}

.green {
  background-color: #2d7f5e;
  color: #d2fbe3;
}

.red {
  background-color: #8b2e2e;
  color: #ffdada;
}

.blue {
  background-color: #254d91;
  color: #d1e4ff;
}