.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  text-align: center;
}

.primary {
  background-color: transparent;
  color: #e0a600;
  border: 1px solid #e0a600;

  &:hover {
    color: #111;
    font-weight: bold;
    background-color: #d69f00;
    border-color: #d69f00;
  }
}

.secondary {
  background-color: transparent;
  color: #aaa;
  border: 1px solid #444;

  &:hover {
    background-color: #1a1a1a;
    border-color: #666;
  }
}