@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.modalWrap {
  padding-inline: space(4);

  &.success {
    .confirmButton {
      color: color('text', 'black');
      background-color: color('semantic', 'success');

      @media (hover: hover) {
        &:hover {
          background-color: #45f140;
        }
      }
    }
  }

  &.warning {
    .confirmButton {
      color: color('text', 'black');
      background-color: color('semantic', 'warning');

      @media (hover: hover) {
        &:hover {
          background-color: #fb9218;
        }
      }
    }
  }

  &.error {
    .confirmButton {
      color: color('text', 'white');
      background-color: color('semantic', 'error');

      @media (hover: hover) {
        &:hover {
          background-color: #ff1111;
        }
      }
    }
  }

  &.gold {
    .confirmButton {
      color: color('text', 'black');
      background-color: #ffcb43;

      @media (hover: hover) {
        &:hover {
          background-color: #eaae13;
        }
      }
    }
  }

  > div {
    padding-inline: space(8);
    padding-block: space(17, 10);

    @include respondTo('tablet') {
      block-size: initial;
      max-block-size: initial;
      border: 1px solid color('border', 'gray');
    }

    button {
      inset-block-start: space(6);
      inset-inline-end: space(6);
    }
  }

  .message {
    font-size: $text-base;
    color: color('text', 'gray');
    text-align: center;
    margin-block-end: space(14);
  }

  .buttonGroup {
    @include flex(row, stretch, space-between, 4);

    button {
      position: relative;
      inset: 0;
      flex: 1;
      transition: all 0.3s;
    }
  }

  .confirmButton {
    font-size: $text-sm;
    font-weight: $font-bold;
    color: color('text', 'white');
    padding: space(3, 6);
    background-color: color('key', 'blue');
    border: none;
    border-radius: radius('sm');
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: #3b82f6;
      }
    }
  }

  .cancelButton {
    color: color('text', 'dark-gray');
    font-size: $text-base-sm;
    padding: space(1, 6);
    background: transparent;
    border: 1px solid #555;
    border-radius: radius('sm');
    cursor: pointer;


    @media (hover: hover) {
      &:hover {
        background-color: #2a2a2a;
      }
    }
  }
}