@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.message {
  font-size: $text-base-sm;
  color: color('text', 'gray');
  margin-block-end: space(12);
}

.buttonGroup {
  @include flex(row, stretch, flex-end, 2);
}

.confirmButton {
  font-size: $text-base-sm;
  color: color('text', 'white');
  padding: space(1) space(6);
  background-color: color('key', 'blue');
  border: none;
  border-radius: radius('sm');
  cursor: pointer;

  &:hover {
    background-color: #3b82f6;
  }
}

.cancelButton {
  color: color('text', 'dark-gray');
  font-size: $text-base-sm;
  padding: space(1) space(6);
  background: transparent;
  border: 1px solid #555;
  border-radius: radius('sm');
  cursor: pointer;

  &:hover {
    background-color: #2a2a2a;
  }
}