@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.footer {
  container: layout-footer / inline-size;

  font-size: $text-base-sm;
  color: color('text', 'light-gray');
  padding-block: space(9);
  padding-inline: space(12);
  background-color: color('background', 'footer');
  border-block-start: 1px solid #2c2c2c;

  .inner {
    @include flex(column, center, center, 5);
    @include container('desktop');
    text-align: center;

    @include containerQuery('xl') {
      gap: space(3);
      font-size: $text-xs;
    }
  }

  .links {
    @include flex(row, center, center, 6, wrap);
    font-size: $text-base-sm;

    a {
      color: #bbb;
      transition: color $transition-fast;

      &:hover {
        color: color('text', 'basic');
      }
    }

    button {
      padding-block: 1px;
      padding-inline: space(3);
      background-color: #444;
      border: none;
      border-radius: radius('sm');
      transition: background-color $transition-fast;

      @media (hover: hover) {
        &:hover {
          background-color: #555;
        }
      }
    }

    @include containerQuery('xl') {
      a, button {
        font-size: $text-xs;
      }
    }
  }
}

@include containerQuery('xl') {
  .footer {
    .inner {
      gap: space(3);
      font-size: $text-xs;
    }

    .links {
      justify-content: center;

      a {
        font-size: $text-xs;
      }
    }
  }
}