.footer {
  container: layout-footer / inline-size;

  font-size: 0.875rem;
  color: #aaa;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  margin-block-start: 5.5rem;
  background-color: #121212;
  border-block-start: 1px solid #2c2c2c;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    inline-size: calc(100% - 10rem);
    margin-inline: auto;
    text-align: center;

    @container layout-footer (max-width: 800px) {
      font-size: 0.75rem;
      gap: 0.5rem;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;

    a {
      color: #bbb;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }

    button {
      padding-block: 1px;
      padding-inline: 8px;
      background-color: #444;
      border: none;
      border-radius: 4px;
      transition: background-color 0.2s;

      @media (hover: hover){
        &:hover {
          background-color: #555;
        }
      }
    }

    @container layout-footer (max-width: 800px) {
      a, button {
        font-size: 0.75rem;
      }
    }
  }
}

@container layout-footer (max-width: 800px) {
  .inner {
    font-size: 0.75rem;
    gap: 0.5rem;
  }

  .links {
    justify-content: center;

    a {
      font-size: 0.75rem;
    }
  }
}