.footer {
  background-color: #121212;
  border-block-start: 1px solid #2c2c2c;
  padding: 1.5rem 2rem;
  font-size: 0.875rem;
  color: #aaa;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    inline-size: calc(100% - 10rem);
    margin-inline: auto;
    text-align: center;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.875rem;

    a {
      color: #bbb;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }
  }
}