@use "../../styles/mixins" as *;

.wrap {
  container: guide-modal / inline-size;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.9375rem;
    color: #ccc;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  .guideList {
    list-style: disc;
    padding-left: 1.25rem;

    li {
      font-size: 0.875rem;
      color: #ccc;
      margin-bottom: 0.625rem;

      strong {
        color: #fff;
        margin-right: 0.5rem;
      }
    }
  }

  .listChar {
    display: inline-block;
    color: inherit;
  }

  .link {
    font-weight: 600;
    padding-block-end: 4px;
    @include linkUnderline(#4a9eff, #4a9eff);
  }
}

@container guide-modal (max-width: 480px) {
  .title {
    font-size: 1.125rem;
  }

  .description {
    font-size: 0.8125rem;
  }

  .guideList {
    li {
      font-size: 0.75rem;
    }
  }
}