@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.wrap {
  container: guide-modal / inline-size;

  .title {
    font-size: $text-2xl;
    font-weight: $font-bold;
    color: color('text', 'white');
    margin-block-end: space(6);
  }

  .description {
    font-size: $text-base-s;
    color: color('text', 'gray');
    line-height: $leading-relaxed;
    margin-block-end: space(9);
  }

  .guideList {
    list-style: disc;
    padding-inline-start: space(8);

    li {
      font-size: $text-base-sm;
      color: color('text', 'gray');
      margin-block-end: space(4);

      strong {
        color: color('text', 'basic');
        margin-inline-end: space(3);
      }
    }
  }

  .listChar {
    display: inline-block;
    color: inherit;
  }

  .link {
    font-weight: $font-semibold;
    padding-block-end: 4px;
    @include linkUnderline(#4a9eff, #4a9eff);
  }
}

@include containerQuery('s') {
  .wrap {
    .title {
      font-size: $text-lg;
    }

    .description {
      font-size: $text-sm;
    }

    .guideList {
      li {
        font-size: $text-xs;
      }
    }
  }
}