.wrap {
  padding: 2rem;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.9375rem;
    color: #ccc;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  .guideList {
    list-style: disc;
    padding-left: 1.25rem;

    li {
      font-size: 0.875rem;
      color: #ccc;
      margin-bottom: 0.625rem;

      strong {
        color: #fff;
        margin-right: 0.5rem;
      }
    }
  }
}