.header {}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #ddd;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 24px;

  a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: #ffffff;
    }

    .active {
      color: #2970ff;
      font-weight: 600;
    }
  }
}
