.header {
  container: layout-header / inline-size;

  padding: 2rem;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: calc(100% - 10rem);
    margin-inline: auto;

    @container layout-header (max-width: 800px) {
      gap: 1.5rem;
      inline-size: 100%;
      margin-inline: 0;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-decoration: none;
    color: #ddd;
  }

  .nav {
    display: flex;
    gap: 1.5rem;

    .icon {
      display: none;
    }

    .label {
      display: inline;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #bbb;
      text-decoration: none;
      gap: 0.375rem;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }

      .active {
        font-weight: 600;
        color: #2970ff;
      }
    }

    @container layout-header (max-width: 800px) {
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        display: inline;
      }

      .label {
        display: none;
      }

      a {
        font-size: 0.875rem;
      }
    }
  }
}