@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.header {
  position: sticky;
  top: 0;
  z-index: $z-header;
  min-inline-size: #{$container-min-width}px;
  padding: space(12);
  background-color: $bg-header;
  border-block-end: 1px solid #2d2d2d;

  @include respondTo('mobile') {
    padding-block: 1.8rem;
    padding-inline: 1.2rem;
  }

  .inner {
    @include flex(row, center, space-between);
    @include container();

    @include respondTo('tablet') {
      gap: space(9);
      inline-size: 100%;
      margin-inline: 0;
    }
  }

  .logo {
    @include flex(row, center, flex-start);
    font-size: $text-base;
    font-weight: $font-semibold;
    color: #ddd;
    letter-spacing: $tracking-wider;
    text-decoration: none;
  }

  .nav {
    @include flex(row, stretch, flex-start, 9);

    .icon {
      display: none;
    }

    .label {
      display: inline;
    }

    a {
      @include flex(row, center, flex-start, 2);
      font-size: $text-base;
      color: #bbb;
      text-decoration: none;
      transition: color $transition-fast;

      @media (hover: hover) {
        &:hover {
          color: color('text', 'basic');
        }
      }

      &.active {
        font-weight: $font-semibold;
        color: color('key', 'primary-deep');
      }
    }

    @include respondTo('tablet') {
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        display: inline;
      }

      .label {
        display: none;
      }

      a {
        font-size: $text-base-sm;
      }
    }
  }
}