@use "@styles/layout" as *;
@use "@styles/spacing" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvb;

  .headerWrap {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #141414;
    transition: transform 0.3s ease;
  }

  .main {
    flex: 1;
    margin-top: calc(#{$header-block-size} + #{$space-12});

    &.isMain {
      margin-top: $header-block-size;
    }
  }
}