@use "@styles/layout" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvb;
  min-inline-size: #{$container-min-width}px;

  .headerWrap {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: visible;
    background-color: #141414;
    transition: transform 0.3s ease;
  }

  .main {
    flex: 1;
    position: relative;
    margin-top: calc(#{$header-block-size} + #{$space-12});

    &.isMain {
      margin-top: $header-block-size;
    }

    @include respondTo('tablet'){
      margin-top: calc(#{$header-block-size-tablet} + #{$space-12});

      &.isMain {
        margin-top: $header-block-size-tablet;
      }
    }

    @include respondTo('mobile'){
      margin-top: calc(#{$header-block-size-mobile} + #{$space-12});

      &.isMain {
        margin-top: $header-block-size-mobile;
      }
    }
  }

  .footerArea {
    position: relative;
  }
}