@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.overlay {
  container-type: inline-size;

  position: fixed;
  inset: 0;
  @include flex(row, center, center);
  background-color: #00000060;
  z-index: zIndex('modal');

  > div {
    position: relative;
    overflow-y: auto;
    inline-size: 100%;
    max-inline-size: 50rem;
    max-block-size: 100dvh;
    color: color('text', 'basic');
    padding: space(17);
    border: 1px solid #282828;
    border-radius: radius('lg');
    background-color: #000;
    animation: popIn 0.4s $transition-bounce;

    @include respondTo('tablet') {
      inline-size: 100%;
      block-size: 100%;
      max-inline-size: 100%;
      padding-inline: space(12);
      padding-block: max(#{space(3)}, 10vh) space(12);
      border: none;
    }

    @include containerQuery('s') {
      padding-inline: space(8);
    }

    > button {
      position: absolute;
      inset-block-start: space(8);
      inset-inline-end: space(8);
      font-size: $text-base-sm;
      color: color('text', 'dark-gray');
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: zIndex('modal');

      @include containerQuery('md') {
        font-size: $text-sm;
      }

      @include containerQuery('s') {
        font-size: $text-xs;
      }

      @media (hover: hover) {
        &:hover {
          color: color('text', 'basic');
        }
      }
    }
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}