.title {
  font-family: var(--font-title), sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: #fff;
  padding-block-end: 1.2rem;
  margin-block-end: 1.2rem;
  border-block-end: 2px solid #333;

  & + .description {
    font-size: 0.875rem;
    color: #aaa;
    margin-block-end: 2rem;
  }
}