.title {
  container: page-title / inline-size;

  font-family: var(--font-title), sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff2bf;
  padding-block-end: 1.125rem;
  margin-block-end: 1.125rem;
  border-block-end: 1px solid #464646;

  @container page-title (max-width: 500px) {
    font-size: 1.5rem;
  }
}