.techBlock {
  padding-block-start: 3rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ababab;
  margin-block-end: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag {
  font-size: 0.875rem;
  color: #ccc;
  line-height: 2;
  padding-inline: 0.625rem;
  border: 1px solid #ffffff08;
  border-radius: 4px;
  background-color: #202020;
}