@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.techBlock {
  padding-block-start: space(16);
}

.label {
  display: block;
  font-size: $text-base-sm;
  font-weight: $font-semibold;
  color: #ababab;
  margin-block-end: space(6);
}

.list {
  @include flex(row, stretch, flex-start, 4, wrap);
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag {
  font-size: $text-base-sm;
  color: color('text', 'gray');
  line-height: $leading-double;
  padding-inline: space(4);
  border: 1px solid #ffffff08;
  border-radius: radius('sm');
  background-color: #202020;
}