.header {
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-block-end: 1px solid #333;
  background-color: #121212;

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.main {
  min-block-size: 50vh;
}

.footer {
  padding-block: 1.2rem;
  padding-inline: 2rem;
  font-size: 0.85rem;
  color: #888;
  border-block-start: 1px solid #333;
  background-color: #121212;
}