.contactWrap {
  container: contact-container / inline-size;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: calc(100% - 10rem);
  padding-block: 4rem;
  margin-inline: auto;

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    inline-size: max(50%, 500px);
    aspect-ratio: 1;
    background: url('/imgs/bg/handcuffs.png') no-repeat;
    background-size: 100% auto;
    mix-blend-mode: exclusion;
    z-index: -1;
  }

  .inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    margin-inline: auto;
    z-index: 1;

    @container contact-container (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .mainTitle {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;

    @container contact-container (max-width: 768px) {
      font-size: 2.25rem;
    }

    .highlight {
      color: #f5c064;
      font-weight: 700;
    }
  }

  .description p {
    font-size: 1.1rem;
    color: #aaa;
    line-height: 1.7;

    @container contact-container (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.rightSection {
  padding-block: 3.125rem;
  padding-inline: 2.5rem;
  background-color: #161616;
  border-radius: 20px;

  @container contact-container (max-width: 768px) {
    padding-block: 2rem;
    padding-inline: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;

    .inputGroup {
      position: relative;

      .input,
      .textarea {
        width: 100%;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 300;
        padding-block: 0.625rem;
        padding-inline: 0.375rem;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 1px solid #2c2c2c;
        transition: all 0.3s ease;

        &::placeholder {
          font-weight: 300;
          color: #ffffff50;
        }

        &:focus {
          border-color: #f5c063;
        }

        &.error{
          color: #fff;
          border-color: #ff4d4f;
        }
      }

      .textarea {
        min-height: 120px;
        font-family: inherit;
        line-height: 1.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #d9d9d902;
        resize: none;
      }

      .errorText{
        font-size: 0.875rem;
        color: #ff4d4f;
        margin-block-start: 0.5rem;
      }
    }

    .submitButton {
      inline-size:100%;
      font-size: 0.875rem;
      font-weight: 500;
      color: #f5c064;
      padding-block: 0.625rem;
      background: #323232;
      border: 1px solid #c5a46a;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        color: #323232;
        background: #f5c064;
      }

      @container contact-container (max-width: 768px) {
        font-size: 0.625rem;
      }
    }
  }
}