@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.contactWrap {
  container: contact-container / inline-size;

  @include flex(row, center, center);
  @include container();
  padding-block: space(20);

  &::before {
    display: block;
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 10%;
    inline-size: max(50%, 500px);
    aspect-ratio: 1 / 1.3;
    background: url('/imgs/bg/handcuffs.png') no-repeat 0 90%;
    background-size: 100% auto;
    mix-blend-mode: exclusion;
    z-index: zIndex('below');

    @include containerQuery('md') {
      inline-size: 90%;
    }
  }

  .inner {
    position: relative;
    @include grid(2, 20);
    align-items: center;
    margin-inline: auto;
    z-index: zIndex('base');

    @include containerQuery('3xl') {
      @include grid(1, 16);
    }
  }
}

.leftSection {
  @include flex(column, stretch, flex-start, 12);

  .mainTitle {
    @include textStyle($text-6xl, $font-semibold, $leading-tight);
    color: color('text', 'white');

    span {
      display: inline-block;
    }

    @include containerQuery('xl') {
      font-size: $text-4xl;
    }

    @include containerQuery('s') {
      font-size: $text-3xl;
    }

    @include containerQuery('xs') {
      font-size: $text-2xl;
    }

    .highlight {
      font-weight: $font-bold;
      color: color('key', 'primary');
    }
  }

  .description p {
    font-size: $text-lg;
    color: color('text', 'light-gray');
    line-height: $leading-loose;
  }
}

.rightSection {
  padding-block: 3.125rem;
  padding-inline: space(14);
  background-color: #161616;
  border-radius: 1.5rem;

  @include containerQuery('xl') {
    padding-block: space(10);
    padding-inline: space(10);
  }

  @include containerQuery('s') {
    padding-block: space(8);
    padding-inline: space(8);
  }

  .form {
    @include flex(column, stretch, flex-start, 0);
    gap: 2.125rem;

    .inputGroup {
      position: relative;

      .input,
      .textarea {
        @include input-base;
        padding-block: space(4);
        padding-inline: space(2);
        border-block-end: 1px solid #2c2c2c;
        border-radius: 0;
        transition: all $transition-base;

        &::placeholder {
          font-weight: $font-light;
          color: color('text', 'muted');
        }

        &:focus {
          border-color: color('key', 'primary-deep');
        }

        &.error {
          color: color('text', 'basic');
          border-color: #ff4d4f;
        }
      }

      .textarea {
        min-block-size: 120px;
        font-family: inherit;
        line-height: $leading-normal;
        padding-block-start: space(6);
        padding-block-end: space(6);
        background-color: #d9d9d902;
        resize: none;
      }

      .errorText {
        font-size: $text-base-sm;
        color: #ff4d4f;
        text-align: left;
        margin-block-start: space(3);
      }
    }

    .submitButton {
      inline-size: 100%;
      font-size: $text-base-sm;
      font-weight: $font-medium;
      color: color('key', 'primary');
      letter-spacing: $tracking-wider;
      padding-block: space(4);
      margin-block-start: space(6);
      background-color: color('background', 'input');
      border: 1px solid color('key', 'primary-dim');
      border-radius: radius('sm');
      cursor: pointer;
      transition: background $transition-fast;

      @media (hover: hover) {
        &:hover {
          color: color('text', 'deep-gray');
          background-color: color('key', 'primary');
        }
      }

      @include containerQuery('md') {
        margin-block-start: space(2);
      }
    }

    .errorText, .successText {
      text-align: center;
      padding-block-end: space(6);
    }

    .errorText {
      color: color('semantic', 'error');
    }

    .successText {
      color: color('semantic', 'success');
    }

    .infoText {
      font-size: $text-xs;
      color: color('text', 'light-gray');
      text-align: right;
    }
  }
}