.contactWrap {
  container: contact-container / inline-size;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: calc(100% - 10rem);
  padding-block: 4rem;
  margin: 0 auto;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: -8rem;
    left: 0;
    inline-size: max(50%, 500px);
    aspect-ratio: 1;
    background: url('/imgs/bg/OBJ06.png') no-repeat;
    background-size: 100% auto;
    mix-blend-mode: difference;
    z-index: -1;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 4rem;
  align-items: center;
  position: relative;
  z-index: 1;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .mainTitle {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;

    .highlight {
      color: #ff4d4f;
      font-weight: 700;
    }
  }

  .description p {
    color: #aaa;
    font-size: 1.1rem;
    line-height: 1.7;
  }
}

.rightSection {
  padding: 3rem;
  background-color: #ffffff05;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff10;
  box-shadow: 0 20px 40px #00000030;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputGroup {
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 1rem 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff30;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.3s ease;
  outline: none;

  &::placeholder {
    color: #ffffff50;
    font-weight: 300;
  }

  &:focus {
    border-bottom-color: #ff7675;
    box-shadow: 0 1px 0 0 #ff7675;
  }
}

.textarea {
  resize: none;
  font-family: inherit;
  line-height: 1.5;
  min-height: 120px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.submitButton {
  inline-size:100%;
  padding: 0.75rem 2rem;
  background: #ff4d4f;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #e04345;
  }
}

@container contact-container (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .leftSection {
    .mainTitle {
      font-size: 2.25rem;
    }

    .description p {
      font-size: 1rem;
    }
  }

  .rightSection {
    padding: 2rem;
  }

  .submitButton {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
  }
}