.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 48px 32px;

  > section {
    margin-bottom: 40px;
    padding: 24px;
    border: solid 1px #ff7675;
  }

  .text {
    font-size: 16px;
    color: #aaa;
    line-height: 1.6;
  }
}