.contactWrap {
  inline-size: calc(100% - 10rem);
  padding-block: 3rem;
  padding-inline: 2rem;
  margin-block: 0;
  margin-inline: auto;

  > section {
    padding: 1.5rem;
    margin-block-end: 2.5rem;
    border: 1px solid #ff7675;
  }

  .text {
    font-size: 1rem;
    color: #aaa;
    line-height: 1.6;
  }
}