@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.medalWrap {
  $bgColor: #161616;

  container: medal-container / inline-size;

  @include container();
  margin-block-end: $footer-margin-block;

  @include respondTo('tablet') {
    margin-block-end: space(20);
  }

  .infoBox {
    position: relative;
    @include flex(column, center, center, 6);
    text-align: center;
    padding-block-start: space(15);
    padding-block-end: space(32);
    margin-block-start: space(16);
    margin-block-end: space(20);
    background-color: $bgColor;
    border-radius: radius('base');

    @include containerQuery('md') {
      padding-block: space(14);
      margin-block: space(7, 0);
    }

    .title {
      @include textStyle($text-2xl, $font-bold, $leading-none);
      color: color('text', 'title');
    }

    .subtitle {
      @include textStyle($text-lg, $font-normal, $leading-none);
      color: color('text', 'basic');
    }

    .infoList {
      position: absolute;
      inset-block-end: -3.875rem;
      @include flex(row, stretch, center, 6);
      inline-size: 100%;

      @include containerQuery('md') {
        position: relative;
        inset-block-end: 0;
        margin-block-start: space(6);
      }

      .infoItem {
        position: relative;
        inline-size: max(20.125rem, 40%);
        text-align: center;
        padding-block: space(11);
        padding-inline: space(6);
        background-color: $bgColor;
        border: 1px solid #c5a46a50;
        border-radius: radius('lg');
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        @include containerQuery('md') {
          inline-size: max(10rem, 40%);
        }

        strong {
          display: block;
          font-size: $text-lg;
          color: color('text', 'muted');
        }

        .char {
          color: color('text', 'basic');
          font-size: $text-2xl;
          font-weight: $font-semibold;
          margin-block-start: space(3);

          @include containerQuery('md') {
            font-size: $text-xl;
          }
        }

        &.medal::before {
          position: absolute;
          inset-block-start: -2rem;
          inset-inline-end: space(9);
          display: block;
          content: '';
          inline-size: 4.75rem;
          block-size: 100%;
          background: url('/imgs/medal.png') no-repeat 100% 0 / contain;

          @include containerQuery('md') {
            inset-block-start: -1.125rem;
            inset-inline-end: space(5);
            inline-size: 2.25rem;
          }
        }
      }
    }
  }

  .medalList {
    @include flex(row, stretch, center, 6, wrap);
    place-content: center;
    padding-block-start: space(14);

    @include containerQuery('md') {
      @include grid-auto-fit(6rem, 4, 6);
      padding-block-start: space(9);
    }

    .medalItem {
      @include flex(column, stretch, center);
      place-content: center;
      min-inline-size: 8.5rem;
      min-block-size: 6rem;
      color: color('text', 'basic');
      font-size: $text-base;
      font-weight: $font-semibold;
      text-align: center;
      padding: space(6);
      background-color: $bgColor;
      border: 1px solid #c5a46a50;
      border-radius: radius('base');

      @include containerQuery('md') {
        min-inline-size: initial;
        min-block-size: initial;
        padding-block: space(4);
      }

      p {
        @include flex(row, center, center, 3);

        &::before {
          display: block;
          content: '';
          inline-size: space(6);
          block-size: space(12);
          background: url('/imgs/medal.png') no-repeat center / contain;
        }
      }

      span {
        display: block;
        color: color('key', 'primary-dim');
        line-height: $leading-none;
        margin-block-start: space(3);
      }
    }
  }

  .hintBox {
    color: color('text', 'gray');
    padding: space(11);
    margin-block-start: space(24);
    background-color: #2d2d2d;
    border: 1px solid #333;
    border-radius: radius('base');

    @include containerQuery('md') {
      padding: space(8);
      margin-block-start: space(18);
    }

    h3 {
      color: color('text', 'title');
      font-size: $text-2xl;

      @include containerQuery('md') {
        font-size: $text-xl;
      }
    }

    ul {
      margin-block-start: space(9);
      padding-inline-start: space(8);

      li {
        list-style: disc;
        @include textStyle($text-lg, $font-normal, $leading-normal, $tracking-tighter);
        color: color('text', 'secondary');
        margin-block-end: space(3);

        a {
          @include linkUnderline(#c49d40, #f5ca64);
        }
      }

      @include containerQuery('md') {
        margin-block-start: space(6);

        li {
          font-size: $text-base;
        }
      }
    }
  }
}