.medalWrap {
  container: medal-container / inline-size;

  inline-size: calc(100% - 10rem);
  margin-inline: auto;

  @media (max-width: 1000px){
    inline-size: calc(100% - 2rem);
  }

  .infoBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding-block-start: 2.875rem;
    padding-block-end: 6.75rem;
    margin-block-start: 3.125rem;
    margin-block-end: 4rem;
    background-color: #161616;
    border-radius: 0.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff2bf;
      line-height: 1;
    }

    .subtitle {
      font-size: 1.125rem;
      color: #fff;
      line-height: 1;
    }

    .infoList{
      position: absolute;
      inset-block-end: -3.875rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      inline-size: 100%;

      .infoItem {
        position: relative;
        inline-size: max(20.125rem, 40%);
        text-align: center;
        padding-block: 1.875rem;
        padding-inline: 1rem;
        background-color: #161616;
        border: 1px solid #c5a46a50;
        border-radius: 0.75rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        strong {
          display: block;
          font-size: 1.125rem;
          color: #ffffff50;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
          color: #fff;
          margin-block-start: 0.5rem;
        }

        &.medal::before {
          position: absolute;
          inset-block-start: -2rem;
          inset-inline-end: 1.5rem;
          display: block;
          content: '';
          inline-size: 4.75rem;
          block-size: 100%;
          background: url('/imgs/medal.png') no-repeat 100% 0 / contain;
        }
      }

      @container medal-container (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .medalList {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1rem;
    padding-block-start: 2.5rem;

    .medalItem {
      display: flex;
      flex-direction: column;
      place-content: center;
      min-inline-size: 8.5rem;
      min-block-size: 6rem;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      text-align: center;
      padding: 1rem;
      background: #161616;
      border: 1px solid #c5a46a50;
      border-radius: 0.5rem;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        &::before {
          display: block;
          content: '';
          inline-size: 1rem;
          block-size: 2rem;
          background: url('/imgs/medal.png') no-repeat center / contain;
        }
      }

      span {
        display: block;
        color: #c5a46a;
        line-height: 1;
        margin-block-start: 0.5rem;
      }
    }

    @container medal-container (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
  }

  .hintBox {
    color: #ccc;
    padding: 1.875rem;
    margin-top: 5.25rem;
    background-color: #2d2d2d;
    border: 1px solid #333;
    border-radius: 0.5rem;

    h3 {
      font-size: 1.5rem;
      color: #fff2bf;
    }

    ul {
      margin-block-start: 1.5rem;
      padding-left: 1.25rem;

      li {
        list-style: disc;
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff80;
        line-height: 1.5;
        letter-spacing: -0.36px;
        margin-block-end: 0.5rem;
      }
    }

    @container medal-container (max-width: 600px) {
      padding: 1rem;
      font-size: 0.8rem;

      h3 {
        font-size: 0.9rem;
      }
    }
  }
}
