.labWrap {
  inline-size: calc(100% - 10rem);
  padding-block: 3rem;
  padding-inline: 2rem;
  margin-inline: auto;
  margin-block: 0;

  > section {
    padding: 1.5rem;
    margin-block-end: 2.5rem;
    border: 1px solid #00b894;
  }
}