@use "sass:map";

/* KEY COLOR */
$key-primary: #f5c064;
$key-primary-deep: #f5ca64;
$key-primary-dim: #c5a46a;
$key-blue: #2970ff;

$semantic-error: #e53838;
$semantic-success: #07cb00;
$semantic-warning: #ffa94d;
$semantic-info: #58a6ff;

/* BACKGROUND COLOR */
$bg-body: #1b1b1b;
$bg-header: #141414;
$bg-footer: #121212;
$bg-input: #323232;
$bg-white: #fff;

/* TEXT COLOR */
$text-basic: #e0e0e0;
$text-secondary: #ffffff80;
$text-accent: #fffdd8;
$text-muted: #ffffff50;
$text-title: #fff2bf;
$text-subtitle: #f5f5f5;
$text-white: #fff;
$text-bright-gray: #eee;
$text-gray: #ccc;
$text-light-gray: #aaa;
$text-dark-gray: #999;
$text-deep-gray: #323232;
$text-black: #111;

// Color Map
$colors: (
  'key': (
    'primary': $key-primary,
    'primary-deep': $key-primary-deep,
    'primary-dim': $key-primary-dim,
    'blue': $key-blue
  ),
  'semantic': (
    'error': $semantic-error,
    'success': $semantic-success,
    'warning': $semantic-warning,
    'info': $semantic-info
  ),
  'background': (
    'body': $bg-body,
    'footer': $bg-footer,
    'input': $bg-input,
    'white': $bg-white
  ),
  'text': (
    'basic': $text-basic,
    'secondary': $text-secondary,
    'accent': $text-accent,
    'muted': $text-muted,
    'title': $text-title,
    'subtitle': $text-subtitle,
    'white': $text-white,
    'bright-gray': $text-bright-gray,
    'gray': $text-gray,
    'light-gray': $text-light-gray,
    'dark-gray': $text-dark-gray,
    'deep-gray': $text-deep-gray,
    'black': $text-black,
  )
);

/*
* HELPER
*/
@function color($category, $variant) {
  @return map.get(map.get($colors, $category), $variant);
}