@use "sass:map";

/* SPACING */
$space-0: 0;
$space-1: 0.25rem;        // 4px
$space-2: 0.375rem;       // 6px
$space-3: 0.5rem;         // 8px
$space-4: 0.625rem;       // 10px
$space-5: 0.75rem;        // 12px
$space-6: 1rem;           // 16px
$space-7: 1.125rem;       // 18px
$space-8: 1.25rem;        // 20px
$space-9: 1.5rem;         // 24px
$space-10: 1.75rem;       // 28px
$space-11: 1.875rem;      // 30px
$space-12: 2rem;          // 32px
$space-14: 2.5rem;        // 40px
$space-15: 2.75rem;        // 44px
$space-16: 3rem;          // 48px
$space-17: 3.5rem;        // 56px
$space-18: 3.75rem;       // 60px
$space-20: 4rem;          // 64px
$space-24: 5rem;          // 80px
$space-28: 5.5rem;        // 88px
$space-32: 6.25rem;       // 100px

// Spacing Map
$spacing: (
  0: $space-0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  7: $space-7,
  8: $space-8,
  9: $space-9,
  10: $space-10,
  11: $space-11,
  12: $space-12,
  14: $space-14,
  15: $space-15,
  16: $space-16,
  17: $space-17,
  18: $space-18,
  20: $space-20,
  24: $space-24,
  28: $space-28,
  32: $space-32
);

/*
* HELPER
*/
@function space($size) {
  @return map.get($spacing, $size);
}