@use "sass:map";

/* FONT FAMILY */
$font-family-basic: var(--font-body), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-family-title: var(--font-title), sans-serif;
$font-family-mono: var(--font-mono), monospace;

/* FONT SIZE */
$text-3xs: 0.625rem;     // 10px
$text-2xs: 0.6875rem;    // 11px
$text-xs: 0.75rem;       // 12px
$text-sm: 0.8125rem;     // 13px
$text-base-sm: 0.875rem; // 14px
$text-base-s: 0.9375rem; // 15px
$text-base: 1rem;        // 16px
$text-lg: 1.125rem;      // 18px
$text-xl: 1.25rem;       // 20px
$text-2xl: 1.5rem;       // 24px
$text-3xl: 1.75rem;      // 28px
$text-4xl: 2.25rem;      // 36px
$text-5xl: 2.75rem;      // 44px
$text-6xl: 3rem;         // 48px

/* FONT WEIGHT */
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* LINE HEIGHT */
$leading-none: 1;
$leading-tight: 1.2;
$leading-normal: 1.5;
$leading-relaxed: 1.6;
$leading-loose: 1.7;
$leading-extra-loose: 1.75;
$leading-double: 2;

/* LETTER SPACING */
$tracking-tighter: -0.36px;
$tracking-tight: -0.32px;
$tracking-normal: 0;
$tracking-wide: 0.05em;
$tracking-wider: 0.075rem;
$tracking-widest: 0.15rem;

// Typography MAP
$typography: (
  'size': (
    '3xs': $text-3xs,
    '2xs': $text-2xs,
    'xs': $text-xs,
    'sm': $text-sm,
    'baseSm': $text-base-sm,
    'baseS': $text-base-s,
    'base': $text-base,
    'lg': $text-lg,
    'xl': $text-xl,
    '2xl': $text-2xl,
    '3xl': $text-3xl,
    '4xl': $text-4xl,
    '5xl': $text-5xl,
    '6xl': $text-6xl
  ),
  'weight': (
    'light': $font-light,
    'normal': $font-normal,
    'medium': $font-medium,
    'semibold': $font-semibold,
    'bold': $font-bold
  ),
  'leading': (
    'none': $leading-none,
    'tight': $leading-tight,
    'normal': $leading-normal,
    'relaxed': $leading-relaxed,
    'loose': $leading-loose,
    'extra-loose': $leading-extra-loose,
    'double': $leading-double,
  ),
  'tracking': (
    'tighter': $tracking-tighter,
    'tight': $tracking-tight,
    'normal': $tracking-normal,
    'wide': $tracking-wide,
    'wider': $tracking-wider,
    'widest': $tracking-widest,
  )
);

@function textSize($size) {
  @return map.get(map.get($typography, 'size'), $size);
}

@function fontWeight($weight) {
  @return map.get(map.get($typography, 'weight'), $weight);
}

@function lineHeight($leading) {
  @return map.get(map.get($typography, 'leading'), $leading);
}

@function letterSpacing($tracking) {
  @return map.get(map.get($typography, 'tracking'), $tracking);
}