@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.aboutWrap {
  container: about-container / inline-size;

  @include container('desktop');
  z-index: zIndex('base');

  > * {
    position: relative;
    z-index: zIndex('base');
  }

  section {
    margin-block-end: space(32);

    h2 {
      color: color('text', 'subtitle');
      @include textStyle($text-2xl, $font-semibold, $leading-none);
      margin-block-end: space(4);

      span {
        color: color('text', 'title');
        font-family: $font-family-title;
        font-weight: $font-bold;
        margin-inline-start: space(8);
      }
    }

    > p {
      color: color('text', 'muted');
      font-size: $text-lg;
      font-weight: $font-normal;
      margin-block-end: space(9);
    }
  }
}

.profileSection {
  margin-block-end: space(14);
}

.dnaWrap {
  @include grid(2, 0);
  gap: 2.4rem 12rem;
  margin-block-start: space(12);

  .dnaItem {
    @include flex(column, stretch, flex-start, 2);
    position: relative;

    .labelTop {
      position: relative;
      @include flex(row, flex-end, space-between);

      .skillText {
        color: #6d6d6d;
        font-size: $text-base-sm;
        font-weight: $font-semibold;
        text-transform: uppercase;
        letter-spacing: $tracking-wide;
        white-space: nowrap;
        text-indent: space(6);
        z-index: 2;
      }

      .iconShape {
        @include flex(row, center, center);
        inline-size: 2.4rem;
        block-size: 2.4rem;
        margin-inline-end: -1.25rem;
        background: #272727;
        clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
        flex-shrink: 0;
        z-index: 2;

        svg {
          width: 1.2rem;
          height: 1.2rem;
          color: color('text', 'gray');
        }
      }
    }

    .labelLine {
      position: relative;
      @include flex(row, center, space-between);
      block-size: 2.6rem;
      padding-inline: space(6);

      .parallelogramMain {
        position: absolute;
        inset-block: 0;
        inset-inline-start: 0;
        inline-size: 70%;
        background: var(--para-color);
        clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
        z-index: zIndex('base');
      }

      .parallelogramSmall1 {
        position: absolute;
        inset-block: 0;
        inset-inline-start: 70.2%;
        inline-size: 10%;
        background: var(--para-color);
        opacity: 0.55;
        clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
        z-index: zIndex('base');
      }

      .parallelogramSmall2 {
        position: absolute;
        inset-block: 0;
        inset-inline-start: 80.4%;
        inline-size: 10%;
        background: var(--para-color);
        opacity: 0.3;
        clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
        z-index: zIndex('base');
      }

      .parallelogramSmall3 {
        position: absolute;
        inset-block: 0;
        inset-inline-start: 90.6%;
        inline-size: 10%;
        background: var(--para-color);
        opacity: 0.15;
        clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
        z-index: zIndex('base');
      }

      .labelText {
        position: relative;
        inline-size: 100%;
        color: color('text', 'bright-gray');
        font-size: $text-base;
        font-weight: $font-semibold;
        text-transform: uppercase;
        text-indent: 0.2rem;
        letter-spacing: $tracking-wide;
        z-index: 2;
      }
    }

    .barLine {
      position: relative;
      block-size: 3px;
      background: #ddd;

      .barFill {
        inline-size: var(--bar-size);
        block-size: 100%;
        background-color: var(--bar-color);
        transition: inline-size $transition-slow;
      }
    }

    .percentage {
      color: color('text', 'gray');
      font-size: $text-xs;
      text-align: end;
      letter-spacing: $tracking-widest;
      margin-inline-end: 14px;
    }
  }

  @include respondFrom('md') {
    grid-template-columns: 1fr;

    .dnaItem {
      .labelLine {
        block-size: 2.5rem;
        padding-inline: space(5);

        .labelText {
          font-size: $text-sm;
        }

        .iconShape {
          inline-size: 1.25rem;
          block-size: 1.25rem;
        }
      }

      .percentage {
        font-size: $text-2xs;
      }
    }
  }
}

.techBox {
  @include grid(1, 14);

  .techItem {
    padding-block: space(9);
    padding-inline: space(11);
    background: #161616;
    border: solid 1px #c5a46a50;
    border-radius: radius('base');

    h4 {
      color: color('key', 'primary');
      font-size: $text-lg;
      font-weight: $font-semibold;
      margin-block-end: space(3);
    }

    .toolBox {
      position: relative;
      @include flex(row, flex-end, flex-start, 0, wrap);
      gap: space(6) space(5);
      padding-inline-start: 2.8rem;
      padding-block-start: space(8);

      &::before {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: space(10);
        display: inline-block;
        content: "";
        inline-size: 1px;
        block-size: 3.5rem;
        background-color: #4a4a4a;
      }
    }

    .toolItem {
      @include flex(row, center, flex-start, 3);
      align-self: flex-end;
      color: color('text', 'bright-gray');
      font-size: $text-base-sm;
      padding: space(3) space(5);
      background: #252525;
      border-radius: radius('base');
      transition: background $transition-fast;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      perspective: 800px;

      &.highlight {
        background-color: color('key', 'primary-deep');
        color: color('text', 'black');

        .toolIcon {
          background: #000;
        }
      }

      .toolIcon {
        inline-size: space(8);
        block-size: space(8);
        background-color: color('key', 'primary-deep');
        border-radius: 0.2rem;
      }
    }
  }
}

.caseList {
  margin-block-start: space(10);
  padding-inline-start: 0;
  list-style: none;

  li {
    padding-block: space(8);
    padding-inline: space(9);
    margin-block-end: space(8);
    border: 1px solid #3a3a3a;
    border-radius: radius('md');
    background-color: #1e1e1e;
    transition: background-color $transition-base;

    &:hover {
      background-color: #2a2a2a;
    }

    strong {
      color: color('text', 'basic');
      font-size: $text-base;
    }

    p {
      color: color('text', 'light-gray');
      font-size: $text-base-sm;
      margin-block: space(4);
    }

    small {
      color: color('text', 'darker-gray');
      font-size: $text-xs;
    }
  }
}

.caseMore {
  text-align: end;
  margin-block-start: space(8);

  a {
    color: color('semantic', 'info');
    font-size: $text-base-sm;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
      color: #80c4ff;
    }
  }
}

.timeline {
  @include flex(column, stretch, flex-start, 12);
  position: relative;
  padding-inline: space(6);

  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 0;
    inset-block-end: 0;
    inline-size: 2px;
    background-color: #333;
    transform: translateX(-50%);
  }

  .timelineItem {
    @include flex(row, stretch, flex-start);

    &.right {
      justify-content: flex-end;
    }

    .logLine {
      position: relative;
      max-width: 80%;
      color: color('text', 'gray');
      font-size: $text-base-sm;
      line-break: $leading-relaxed;
      background: #1f1f1f;
      border: 1px solid #444;
      border-radius: radius('base');
      padding: space(6) space(8);

      .year {
        display: block;
        color: color('text', 'dark-gray');
        font-size: $text-sm;
        margin-block-end: space(3);
      }

      &::before {
        content: '';
        position: absolute;
        inset-block-start: space(6);
        inline-size: space(5);
        block-size: space(5);
        background-color: color('semantic', 'warning');
        border-radius: radius('full');
      }

      &.left::before {
        inset-inline-start: -1.2rem;
      }

      &.right::before {
        inset-inline-end: -1.2rem;
      }
    }
  }
}

.guideList {
  padding-inline-start: space(9);
  margin-block: space(9);
  list-style: disc;

  li {
    color: color('text', 'gray');
    font-size: $text-base-sm;
    margin-block-end: space(4);

    strong {
      color: color('text', 'basic');
      margin-inline-end: space(2);
    }
  }
}

@container about-container (max-width: 600px) {
  .dnaWrap {
    grid-template-columns: 1fr;
    gap: space(9) space(12);

    .dnaItem {
      .labelTop {
        .skillText {
          font-size: $text-xs;
        }

        .iconShape {
          inline-size: space(9);
          block-size: space(9);

          svg {
            inline-size: space(6);
            block-size: space(6);
          }
        }
      }

      .labelLine {
        block-size: 2.2rem;
        padding-inline: space(5);

        .labelText {
          font-size: $text-sm;
        }
      }

      .percentage {
        font-size: $text-2xs;
      }
    }
  }

  .techBox {
    gap: space(8);

    .techItem {
      padding: space(6);

      h4 {
        font-size: $text-base-sm;
      }

      .toolItem {
        font-size: $text-xs;
        padding: space(2) space(3);

        .toolIcon {
          inline-size: space(6);
          block-size: space(6);
        }
      }
    }
  }
}