@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.profileWrap {
  container: profile-card / inline-size;
  @include flex(row, center, flex-start, 0);
  gap: 2.625rem;
  padding: space(16);
  margin-block-start: space(18);
  background-color: #161616;
  border: 1px solid #c5a46a50;
  border-radius: radius('lg');

  @include containerQuery('lg') {
    padding: space(12);
    margin-block-start: space(10);
  }

  @include containerQuery('md') {
    @include flex(column, center, center, 10);
  }

  .imageBox {
    flex-shrink: 0;
    overflow: hidden;
    inline-size: 8.75rem;
    block-size: 8.75rem;
    border-radius: radius('full');
    background-color: #efefef;

    @include containerQuery('md') {
      inline-size: 6rem;
      block-size: 6rem;
    }

    .image {
      inline-size: 80%;
      block-size: 100%;
      object-fit: contain;
      margin-inline: auto;
    }
  }

  .info {
    flex: 1;

    @include containerQuery('md') {
      text-align: center;
    }

    .title {
      font-size: $text-2xl;
      font-weight: $font-semibold;
      color: color('text', 'basic');
      margin-block-end: space(3);

      @include containerQuery('md') {
        font-size: $text-xl;
      }

      .char {
        font-size: $text-lg;
        font-weight: $font-normal;
        color: color('text', 'muted');
        margin-inline-start: space(3);

        @include containerQuery('md') {
          font-size: $text-base;
        }
      }
    }

    .descWrap {
      margin-block: space(3) space(11);

      .description {
        font-size: $text-base-sm;
        color: color('text', 'secondary');
        line-height: $leading-relaxed;
        letter-spacing: $tracking-tighter;

        span {
          display: inline-block;
        }
      }

      @include containerQuery('md') {
        margin-block: space(3) space(8);

        .description {
          font-size: $text-sm;
        }
      }
    }


    .meta {
      font-size: $text-base;
      font-weight: $font-semibold;
      color: color('text', 'white');

      @include containerQuery('md') {
        font-size: $text-base-s;
      }

      strong {
        color: color('key', 'primary-dim');
      }
    }
  }
}