.profileWrap {
  container: profile-card / inline-size;

  display: flex;
  align-items: center;
  gap: 2.625rem;
  padding: 3rem;
  margin-block-start: 3.75rem;
  border: 1px solid #c5a46a50;
  border-radius: 0.75rem;
  background-color: #161616;

  @container profile-card (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  .imageBox {
    flex-shrink: 0;
    inline-size: 8.75rem;
    block-size: 8.75rem;
    border-radius: 50%;
    background-color: #efefef;
    overflow: hidden;

    @container profile-card (max-width: 600px) {
      inline-size: 6rem;
      block-size: 6rem;
    }

    .image {
      inline-size: 80%;
      block-size: 100%;
      object-fit: contain;
      margin-inline: auto;
    }
  }

  .info {
    flex: 1;

    @container profile-card (max-width: 600px) {
      text-align: center;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-block-end: 0.5rem;

      @container profile-card (max-width: 600px) {
        font-size: 1.25rem;
      }

      span {
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff50;
        margin-inline-start: 0.5rem;

        @container profile-card (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }

    .description {
      font-size: 0.875rem;
      color: #ffffff80;
      line-height: 1.6;
      letter-spacing: -0.36px;
      margin-block: 0.5rem 1.875rem;

      @container profile-card (max-width: 600px) {
        font-size: 0.8125rem;
        margin-block: 0.5rem 1.25rem;
      }
    }

    .meta {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;

      @container profile-card (max-width: 600px) {
        font-size: 0.9375rem;
      }

      strong {
        color: #c5a46a;
      }
    }
  }
}