@use "@styles/layout" as *;
@use "@styles/colors" as *;
@use "@styles/typography" as *;
@use "@styles/spacing" as *;
@use "@mixins" as *;

.timelineWrap {
  @include flex(row, stretch, center, 9, wrap);
  margin-block-start: space(12);

  .card {
    container: timeline-card / inline-size;

    inline-size: clamp(260px, 40%, 320px);
    color: color('text', 'basic');
    background-color: #1f1f1f;
    border: 1px solid #444;
    border-radius: radius('lg');
    padding: space(8);
    box-shadow: 0 0 0.5rem rgba(255, 169, 77, 0.1);
    transition: transform $transition-base;

    .year {
      font-size: $text-base-sm;
      color: color('semantic', 'warning');
      margin-block-end: space(3);
    }

    .text {
      font-size: $text-base-s;
      color: color('text', 'gray');
      line-height: $leading-relaxed;
    }

    @include containerQuery('md') {
      padding: space(6);

      .year {
        font-size: $text-xs;
      }

      .text {
        font-size: $text-sm;
      }
    }
  }
}